$purple: #CFBFF7;
$teal: #DAFFED;
$blue: #00A1E4;
$green: #ADFC92;
$indigo: #224870;
$lightPurple: #F1EDFD;

// MUI Colors
$muiPurple: #9C27B0;
$muiDeepPurple: #673AB7;
$muiIndigo: #3F51B5;
$muiBlue: #2196F3;
$muiLightBlue: #03A9F4;
$muiCyan: #00BCD4;
$muiTeal: #009688;
$muiGreen: #4CAF50;
$muiLightGreen: #BBCC33;
$muiLime: #CDDC39;
